/* Cabeçalho */
header {
  position: relative;
}

.sacola {
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;

    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;

    /* Posicionamento */
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes {
    font-size: 15px;

    /* Posicionamento */
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes a {
    color: #003366;
}

.menu-opcoes a:hover {
    color: #007DC6;
}

.menu-opcoes a:active {
    color: #867DC6;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

/* Destaques */
.destaque {
    margin-top: 10px;
}

.menu-departamentos {
    margin-top: 10px;
    padding-bottom: 10px;
    /* Posicionamento */
    clear: left;
}

.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

/* por padrão essa lista vai aparecer oculta */
.menu-departamentos li ul {
    display: none;
}

/* Ao passar o mouse por cima ela aparece */
.menu-departamentos li:hover ul {
    display: block;
}

/* cores do submenu */
.menu-departamentos ul ul li {
    background-color: #DCDCDC;
}

/* Os carcateres entre aspas são codigos unicode */
.menu-departamentos li li a:before {
    content: '\2756';
    padding-right: 3px;
    opacity: 0.4;
}

.menu-departamentos a {
    color: #333;
    text-decoration: none;
}

.busca {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.busca input[type=search] {
    width: 170px;
}

.busca button {
    /* adicionando imagem */
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    border: none;
    /* tamanho da imagem */
    width: 20px;
    height: 20px;
    /* imagem replacement */
    text-indent: -9999px;
}

.busca,
.menu-departamentos {
    background-color: #DCDCDC;
    font-weight: bold;
    text-transform: uppercase;

    margin-right: 10px;
    width: 230px;

    /* Posicionamento */
    float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.container {
    margin: 0 auto;
    width: 940px;
}

/* Paineis */
.painel {
    margin: 10px 0;
    padding: 10;
    width: 455px; /* original era 445px */

    /* bordas e sombras */
    border-radius: 4px;
    box-shadow: inset 1px 1px 4px #999;
}

.painel li {
    /* Posicionamento */
    display: inline-block;
    vertical-align: top;
    width: 130px; /* original era 140px */

    margin: 2px;
    padding: 5px; /* original era 10px */

    /* ao voltar ao normal ele leva 0.7 segundos para voltar ao normal */
    transition: 0.7s ease-out;
}

/* elementos pares giram no horário e os ímpares no anti-horário */
.painel li:hover {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px #333;
    transform: scale(1.2) rotate(-5deg);
    transition: 0.7s ease-in;
}

.painel li:nth-child(2n):hover {
    transform: scale(1.2) rotate(5deg);
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

    margin-bottom: 10px;

    /* bordas e sombras */
    text-shadow: 3px 3px 2px rgba(255, 255, 255, 0.8);
}

.painel h2::before {
    content: '\2756';
    padding-right: 3px;
    opacity: 0.3;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades {
    background-color: #F5DCDC;
    /* gradientes */
    background: linear-gradient(#F5DCDC, #BEBEF4);
    /* Posicionamento */
    float: left;
}

.mais-vendidos {
    background-color: #DCDCF5;
    /* gradientes */
    background: linear-gradient(#DCDCF5, #F4BEBE);
    /* Posicionamento */
    float: right;
}

/* Rodapé */
footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
    padding: 20px 0;
}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}

.social a {
    /* tamanho da imagem */
    height: 32px;
    width: 32px;
    /* image replacement */
    display: block;
    text-indent: -9999px;
}

.social li {
    float: left;
    margin-left: 25px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
    background-image: url(../img/googleplus.png);
}